:root {
  --c-gray: #cccccc;
  --c-primary: #f55e9c;
  --c-text: #2b2b2b;

  --bgc-overlay: rgba(0, 0, 0, 0.5);

  --pdng-sm: 12px;
  --pdng-md: 24px;
  --pdng-lg: 48px;
  --pdng-xl: 64px;

  --w-pc: 500px;

  font-size: 10px;
}

body {
  background-color: #ffffff;
  color: var(--c-text);
  font-family: "LINE Seed JP", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.7;
  height: 100%;
  width: 100%;
  min-height: 100svh;
  position: relative;
  z-index: 0;
}

:where(a:any-link:not([class])) {
  margin-inline: 0.1em;
  text-decoration: underline;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.7;
  }
}

.c-icon {
  direction: ltr;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Material Symbols Outlined";
  font-size: 1.25em;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1;
  height: max(1em, var(--sz-icon, 2.4rem));
  width: max(1em, var(--sz-icon, 2.4rem));
  user-select: none;
  text-transform: none;
  vertical-align: -11.5%;
  word-wrap: normal;
  white-space: nowrap;
}

.c-icon--fill {
  font-variation-settings: "FILL" 1;
}

.l-page {
  .l-page__inner {
    background-color: #ffffff;
    box-shadow: 0 0 0.1rem #333333;
    display: flex block;
    flex-direction: column;
    gap: 0;
    height: 100%;
    width: min(100%, var(--w-pc));
    margin-inline: auto;
    min-height: 100svh;
    position: relative;
    z-index: 1;
  }
}
.l-page-content {
  flex: 1;
  .l-page-content__inner {
    min-height: 100svh;
  }
}
.l-page-footer {
  position: sticky;
  bottom: 0;
  left: 0;
  padding-bottom: env(safe-area-inset-bottom);
}

.l-section {
  .l-section__inner {
    display: grid block;
    gap: var(--pdng-md);
    padding: var(--pdng-md);
  }
}

:where(*:has( > .c-icon)) {
  display: inline-flex;
  align-items: center;
  gap: .5em;
}