.c-badge {
  background-color: var(--c-primary);
  border-radius: 99rem;
  color: #ffffff;
  margin-inline: auto;
  padding: 0.25em 3em;
  width: fit-content;
}

.c-button {
  border: 0.1rem solid transparent;
  border-radius: 99rem;
  cursor: pointer;
  display: flex block;
  align-items: center;
  justify-content: center;
  min-height: 4.8rem;
  padding: 1em 3em;
  position: relative;

  &:not([aria-disabled="true"]) {
    transition: opacity 0.4s;

    &:hover {
      opacity: 0.7;
    }
  }

  &[aria-disabled="true"] {
    cursor: not-allowed;
  }
}
.c-button--primary {
  background-color: var(--c-primary);
  color: #ffffff;

  &[aria-disabled="true"] {
    background-color: var(--c-gray);
  }
}
.c-button--secondary {
  border: 0.1rem solid var(--c-primary);
  color: var(--c-primary);

  &[aria-disabled="true"] {
    border-color: var(--c-gray);
    color: var(--c-gray);
  }
}

.c-card {
  .c-card__inner {
    background-color: #ffffff;
    border-radius: 0.8rem;
    box-shadow: 0 0 0.1rem #333333;
    overflow: hidden;

    .c-card__content {
      padding: var(--pdng-md);
    }
  }
}

.c-stampCard {
  .c-stampCard__title {
    color: var(--c-primary);
    font-size: 2.4rem;
    text-align: center;
  }
}

#loading {
  &.is-active {
    .l-loading__inner {
      display: flex block;
    }
  }
  .l-loading__inner {
    background-color: #ffffff;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    .circle-dash-loader {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: relative;
      color: #6c5ce7;
    }
    .circle-dash-loader::before,
    .circle-dash-loader::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 3px solid;
      border-color: currentColor transparent currentColor transparent;
      animation: circle-dash-animation 1.5s linear infinite;
    }
    .circle-dash-loader::after {
      animation-direction: reverse;
      animation-delay: 0.75s;
    }
  }
}

@keyframes circle-dash-animation {
  0% {
    transform: rotate(0deg);
    opacity: 1;
    border-width: 3px;
  }
  50% {
    opacity: 0.5;
    border-width: 2px;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
    border-width: 3px;
  }
}

.stampCard {
  .stampCard__inner {
    background-color: #ffffff;
    display: grid block;
    gap: var(--pdng-md);
    border-radius: 0.8rem;
    box-shadow: 0 0 0.1rem #333333;
    padding: var(--pdng-md);

    .stampCard__title {
      color: var(--c-primary);
      font-size: 2.4rem;
      font-weight: 700;
    }

    .stampCard__content {
      display: grid block;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: var(--pdng-sm);

      .stamp {
        aspect-ratio: 1;
        border: 0.2rem dotted var(--c-gray);
        border-radius: 0.8rem;
        display: flex block;
        align-items: center;
        justify-content: center;
        margin-inline: auto;
        width: min(100%, 10rem);

        &.is-active {
          background-color: var(--c-primary);
          border: 0.2rem solid var(--c-primary);
          color: #ffffff;
          position: relative;

          &::before {
            background-color: #ffffff;
            border-radius: 99rem;
            padding: 0.75em;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: "check";
            font-size: 2em;
            color: var(--c-primary);
            direction: ltr;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-family: "Material Symbols Outlined";
            font-style: normal;
            font-weight: 400;
            letter-spacing: normal;
            line-height: 1;
            height: max(1em, var(--sz-icon, 2.4rem));
            width: max(1em, var(--sz-icon, 2.4rem));
            user-select: none;
            text-transform: none;
            vertical-align: -11.5%;
            word-wrap: normal;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

.progress {
  background-color: var(--c-primary);
  border-radius: 99rem;
  color: #ffffff;
  padding: 0.5em 3em;
  margin-left: auto;
}
