.c-badge {
  background-color: var(--c-primary);
  border-radius: 99rem;
  color: #ffffff;
  margin-inline: auto;
  padding: 0.25em 3em;
  width: fit-content;
}

.c-button {
  border: 0.1rem solid transparent;
  border-radius: 99rem;
  cursor: pointer;
  display: flex block;
  align-items: center;
  justify-content: center;
  min-height: 4.8rem;
  padding: 0.75em 3em;
  position: relative;

  &:not([aria-disabled="true"]) {
    transition: opacity 0.4s;

    &:hover {
      opacity: 0.7;
    }
  }

  &[aria-disabled="true"] {
    cursor: not-allowed;
  }
}
.c-button--primary {
  background-color: var(--c-primary);
  color: #ffffff;

  &[aria-disabled="true"] {
    background-color: var(--c-gray);
  }
}

.p-htp-container {
  h3 {
    span {
      background-color: var(--c-primary);
      border-radius: 99rem;
      color: #ffffff;
      display: block;
      height: 1em;
      width: 1em;
    }
  }
}

.c-card {
  .c-card__inner {
    background-color: #ffffff;
    box-shadow: 0 0 0.1rem #333333;
    border-radius: 0.8rem;
    display: grid block;
    overflow: hidden;
  }
}
.c-card--horizontal {
  .c-card__inner {
    grid-template-columns: 10rem 1fr;

    .c-card__content {
      gap: 0;
    }
  }
}

.c-card__content {
  display: grid block;
  gap: var(--pdng-sm);
  padding: var(--pdng-md);
}

.c-info-box {
  .c-info-box__inner {
    background-color: #fff0f5;
    border-radius: 0.8rem;
    display: grid block;
    gap: var(--pdng-sm);
    padding: var(--pdng-md);
    text-align: center;
  }
}

#loading {
  &.is-active {
    .l-loading__inner {
      display: flex block;
    }
  }
  .l-loading__inner {
    background-color: #ffffff;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    .circle-dash-loader {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: relative;
      color: #6c5ce7;
    }
    .circle-dash-loader::before,
    .circle-dash-loader::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 3px solid;
      border-color: currentColor transparent currentColor transparent;
      animation: circle-dash-animation 1.5s linear infinite;
    }
    .circle-dash-loader::after {
      animation-direction: reverse;
      animation-delay: 0.75s;
    }
  }
}

@keyframes circle-dash-animation {
  0% {
    transform: rotate(0deg);
    opacity: 1;
    border-width: 3px;
  }
  50% {
    opacity: 0.5;
    border-width: 2px;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
    border-width: 3px;
  }
}
