.u-color--primary {
  color: var(--c-primary);
}

.u-fs--sm {
  font-size: 0.75em;
}
.u-fs--md {
  font-size: 1em;
}
.u-fs--lg {
  font-size: 1.25em;
}
.u-fs--xl {
  font-size: 1.5em;
}

.u-fw--bold {
  font-weight: bold;
}

.u-lh--sm {
  line-height: 1.25;
}

.u-text--left {
  text-align: left;
}
.u-text--center {
  text-align: center;
}
.u-text--right {
  text-align: right;
}
